:root{
    --logo-main: #6666ff;
    --text-main: #2e2e2e;
    --gui-main: #f4f4f4;
    --border-main: #e0e0e0;
    --background-main: #ffffff;
    --button-main: #f4f4f4;
    --button-h-main: #eeeeee;
}
